<div class="container">
    <h2>Listado de Facturas no Pagadas</h2>
    <div class="panel panel-default" ng-repeat="discharge in Discharges">
        <div class="panel-heading" style="text-align: center;">
            <div class="row">
                <div class="col-xs-2">
                    <div class="row">
                        <div class="col-xs-4">
                            <md-button class="md-fab md-mini md-warn" aria-label="Display Detail" ng-click="discharge.showDetail = !discharge.showDetail">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true" />
                            </md-button>
                        </div>
                        <div class="col-xs-4">
                            <label><b>PDF</b></label>
                            <p class="form-control-static">
                                <a class="fa fa-file-pdf-o" aria-hidden="true" style="font-size:20px;"></a>
                            </p>
                        </div>
                        <div class="col-xs-4">
                            <label><b>XML</b></label>
                            <p class="form-control-static">
                                <a class="fa fa-file-code-o" aria-hidden="true" style="font-size:20px;"></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <label><b>Fecha Factura</b></label>
                            <p class="form-control-static">{{discharge.DateDischarge | date:'mediumDate'}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <label><b>Factura</b></label>
                            <p class="form-control-static">{{discharge.Folio}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label><b>No Pedimento</b></label>
                            <p class="form-control-static">{{discharge.NumPed}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label><b>Clave Ped</b></label>
                            <p class="form-control-static" style="text-align: center;">{{discharge.ClavePed}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label><b>Folio Fiscal</b></label>
                            <p class="form-control-static">{{discharge.FolioFiscal}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label><b>Saldo</b></label>
                            <p class="form-control-static">{{discharge.Saldo | currency}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-show="discharge.showDetail	">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha Efectuado</th>
                            <th>Concepto</th>
                            <th>Referencia</th>
                            <th>Monto</th>
                            <th>Responsable</th>
                            <th>PDF</th>
                            <th>XML</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="expense in discharge.Expenses">
                            <td>{{expense.DateExecuted}}</td>
                            <td>{{expense.Concept}}</td>
                            <td>{{expense.Reference}}</td>
                            <td>{{expense.Amount}}</td>
                            <td>{{expense.UserResponsable}}</td>
                            <td>
                                <a class="fa fa-file-pdf-o" aria-hidden="true" style="font-size:20px;"></a>
                            </td>
                            <td>
                                <a class="fa fa-file-code-o" aria-hidden="true" style="font-size:20px;"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
